# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Logs
*.log

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test/cache folders
.pytest_cache/
.mypy_cache/

# Docker
Dockerfile
docker-compose.yml

# Env files (security)
.env

# Node (if accidentally inside)
node_modules/

# Build outputs
build/
dist/